<meta charset="utf-8">
<meta name="author" content="Group13">
<link rel="stylesheet" href="/dist/semantic.min.css">
<link rel="stylesheet" href="/css/app.css">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
<title>KeepMeUp</title>
