<div id="navBar" class="ui fixed borderless menu">
     <!-- <div id="burger" href="#" class="item">
       <i class="content icon white-text" style="color: white"></i>
     </div> -->
     <a href="/" class="item">
       <img src="../images/keepmeup-logo-no-text.png">
     </a>
     <div class="header-search item">
       <div class="ui search">
          <div class="ui icon input">
            <input id="searchBar" class="prompt" type="text" placeholder="Common hashtags...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
     </div>
    <div class="right menu">
      <div class="ui dropdown icon item">
   <i class="large white-text user icon"></i>
   <div class="menu">
     <a href="/" class="item">
       Dashboard
     </a>
       <a href="/privacy" class="item">
       Privacy
     </a>
     <a href="/settings" class="item">
       Settings
     </a>
     <a href="/login" class="item">Logout</a>
   </div>
 </div>
</div>
</div>
