<div id="navBar" class="ui fixed borderless menu">
     <!-- <div id="burger" href="#" class="item">
       <i class="content icon white-text" style="color: white"></i>
     </div> -->
     <div class="header-search item">
       <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Common hashtags...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
     </div>
    <div class="right menu">
      <a href="#" class="item">
        <img class="logo" src="../images/keepmeup-logo-no-text.png">
      </a>
    </div>
  </div>
