#content{
  height: 100vh;
  padding: 5em 1em 1em 1em;
}
.lab-hidden{
  display: none !important;
}
.header-search{
  display: block !important;
  margin-left: auto !important;
}
.center-block{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.white-text{
  color: white;
}
#dashboard{
  background-color: grey;
}
.login-column{
  max-width: 450px;
}

#navBar{
    background-color: #eb531c;
}

#privacy, #settings {
    margin-top: 2.85em !important;
}


#socialmedia {
    overflow:auto;
    background-color: #ebebeb;
}

#register-text {
    font-size: 18px;
    font-weight: lighter;
}

#register, #login {
    max-width: 450px !important;
    margin:auto;
    height: 100%;
}

#twitterColumn {
    height: 80vh;
    overflow-y: auto;
}
