body {
    background-color: #ebebeb;
    font-family: Poppins, sans-serif;
}

#content{
  height: 100vh;
  padding: 5em 1em 1em 1em;
}
.lab-hidden{
  display: none !important;
}
.header-search{
  display: block !important;
  margin-left: auto !important;
}
.center-block{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.white-text{
  color: white !important;
}
#dashboard{
  background-color: grey;
}
.greyBG{
  background-color: #ebebeb !important;
  border: none !important;
  box-shadow: none !important;
}
.login-column{
  max-width: 450px;
}

#navBar{
    background-color: #eb531c;
}

#privacy, #settings, #register{
    margin-top: 2.85em !important;
}
.center-text{
  text-align: center !important;
}

#socialmedia {
    overflow:auto;
    background-color: #ebebeb;
}

#register-text {
    font-size: 18px;
    font-weight: lighter;
    color: #252525;
}

#register, #login {
    max-width: 450px !important;
    margin:auto;
    height: 100%;
}

#twitterColumn, #redditContainer, #instaColumn{
    height: 70vh;
    overflow-y: auto;
    padding-right: 1em;
    padding-left: 1em;
}
#insta, #twitterColumn, #redditContainer{
  padding: 0px !important;
}
#instaIcon {
    margin-top:30vh;
}
.centered-heading {
    text-align: center;
}
.extra-padding {
    padding: 1em 3em;
}
