<div id="content" class="ui grid">
<div class="sixteen wide column">
  <div class="ui padded centered algined grid center-block">
    <div class="five wide center aligned column">
         <h3>INSTAGRAM</h3>
    </div>
    <div class="five wide center aligned column">
         <h3>TWITTER</h3>
    </div>
    <div class="five wide center aligned column">
         <h3 style="font-weight: bold">REDDIT</h3>
    </div>
  </div>
  <div class="ui padded centered algined grid center-block">
    <div class="five wide center aligned column">

    </div>
    <div class="five wide center aligned column">
      <% tweets.forEach(function(tweet){ %>
        <%- include ../pages/twittercomp %>
      <% }); %>
    </div>
    <div class="five wide center aligned column">

    </div>

  </div>
</div>
</div>
