<!--This is our dashboard page where people can search for things from instagram, reddit and twitter
containing a certain word or phrase-->

<div id="content" class="ui grid">
<div class="sixteen wide column">
  <div class="ui padded centered algined grid center-block">
    <div class="five wide center aligned column">
       <i class="ui grey-text big instagram icon"></i>
    </div>
    <div class="five wide center aligned column">
        <i class="ui grey-text big twitter icon"></i>
    </div>
    <div class="five wide center aligned column">
         <i class="ui grey-text big reddit alien icon"></i>
    </div>
  </div>
  <div class="ui padded centered algined grid center-block">
    
      <div id="insta" class="five wide center aligned column">
        <div class="ui middle aligned center aligned grid">
        <div id="instaColumn" class="middle aligned center aligned column">
         <i id="instaIcon" class="huge wrench icon"></i>
          <h1>We're terribly sorry!</h1>
          <p class="register-text">Due to technical difficulties with the Instagram authentication, we're unable to retrive data. Thank you for your understanding.</p>
            </div>
        </div>
    </div>
    <div id="twitterColumn" class="five wide center aligned column">
            <% tweets.forEach(function(tweet){ %>
            <%- include ../pages/twittercomp %>
          <% }); %>
    </div>
    <div id="redditContainer" class="five wide center aligned column">
      <div id="redditColumn" class = "ui padded center aligned column">
            <i id="instaIcon" class="huge search icon"></i>
                <h1>Search!</h1>
                <p class="register-text">To active our Reddit feed, please, use our searchbar to retrive desired data.</p>  
        </div>
    </div>

  </div>
    
</div>
    <div class="sixteen wide column">
      <h4 class="ui header" data-inverted="" data-tooltip="If you would like to see something else or have any suggestions to improve the website, please do not hesitate to contact us" data-position="top left">Any suggestions?</h4>   
    </div>
</div>
