<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs%>
  </head>
  <body>
    <head>
      <% include ../partials/header%>
    </head>
      <% include ../pages/dashboard %>
    <footer>
     <% include ../partials/footer %>
    </footer>
  </body>
</html>
