<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs%>
  </head>
  <body>
    <head>
      <% include ../partials/header.ejs%>
    </head>
      <% include ../pages/dashboard.ejs %>
    <footer>
     <% include ../partials/footer.ejs %>
    </footer>
    <script src="../public/js/index.js" type="text/javascript" onload="Index.load()"></script>
  </body>
</html>
