<!--Page to display user's details -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <!--using head template-->
    <% include ../partials/head.ejs%>
  </head>
  <body>
      <!--using header template-->
    <% include ../partials/header.ejs%>
      <div id="settings" class="ui centered grid">
        <div class="ten wide column">
            <!-- <div class="ui inverted active dimmer" style="background-color:rgba(235, 235, 235,0.9); z-index: 99">
              <div class="ui text loader">Preparing Files</div>
            </div> -->
            <img class="ui centered small image" src="../images/keepmeup-logo-no-text.png">
            <div class="ui huge center aligned header">Profile</div>
            <form id="profileForm" class="ui form" action="/settings" method="POST">
              <div class="fields">
                <div class="eight wide field disabled">
                  <label>Full Name</label>
                  <input type="text" name="name" value="<%= user.name %>">
                </div>
                <div class="eight wide field disabled">
                  <label>Date of Birth</label>
                  <input type="text" name="dob" value="<%= user.dob %>">
                </div>
              </div>
              <div class="fields">
                <div class="eight wide field disabled">
                  <label>Username</label>
                  <input type="text" name="username" value="<%= user.username %>">
                </div>
                <div class="eight wide field disabled">
                  <label>Email</label>
                  <input type="text" name="email" value="<%= user.email %>">
                </div>
              </div>
              <button type="button" class="ui button editButton">Edit</button>
              <button type="submit" class="ui button saveButton lab-hidden">Save</button>
              <button type="button" class="ui button CancelButton lab-hidden">Cancel</button>

            </form>
        </div>

      <!--using footer template-->
      <% include ../partials/footer.ejs%>
      </div>
      <script src="../js/index.js" onload="Index.settings()"></script>
  </body>
</html>
