<div id="socialmedia" class = "ui padded center aligned segments">
          <div class = "ui segment">
            <div class="ui fluid centered card">
              <div class="left aligned content">
                <div class="right floated meta">
                  <% tweets.forEach(function(tweet){ %>
                    <%= tweets.created_at%>
                  <% }); %>
                </div>
                <img class="ui avatar image" src="../images/keepmeup-logo-no-text.png">
                <% tweets.forEach(function(tweet){ %>
                  <%= tweets.user.screen_name %>
                <% }); %>
                <div class="ui inverted divider">
                </div>
                <% tweets.forEach(function(tweet){ %>
                  <%= tweets.text% >
                <% }); %>
              </div>
            </div>
          </div>
</div>
